@charset "utf-8";
@import "normalize";
@import "fonts";

// colors

$main-text: #8d83b5;
$main-blue: #4ba3f5;
$main-red: #fc2f56;
$dark-purple: #1a1822;
$plum: #8d83b5;

// end

html{
  background: #1e1c28;
  background-image: url(../images/top-gradient.png), url(../images/gradient.png), url(../images/angle-gradient.png), url(../images/right-angle-gradient.png), linear-gradient(#371e2d 5%, #1e1c28 55%);
  background-position: top center, 100% 3%, bottom left, right bottom;
  background-repeat: no-repeat;
}

body {
	font: normal normal 16px/1 'Gotham Pro', sans-serif;
	color: $plum;
	padding-top: 45px;
}

h1{
  margin: 0;
}

.mobile-menu,
.current-city{
  display: none;
}

.stripes{
  position: fixed;
  display: flex;
  height: 100%;
  width: 100vw;
  z-index: 0;
}

@media (max-width: 1170px) { 
  .stripes{
    display: none;
  }
}

.stripe{
  height: 100%;
  width: 16.5%;
}

.stripes .stripe:not(:last-child){
  border-right: 1px solid #fff;
  opacity: 0.1;
}

.container,
.title {
  position: relative;
  z-index: 1;
  width: 1170px;
  margin: 0 auto;
}

.main-menu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  line-height: 45px;
  background: #1e1c28;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $main-text;
}

.main-menu li{
  display: inline-block;
  width: 20%;
}

.main-menu a{
  display: block;
  height: 100%;
}

.main-menu a:hover{
  color: $main-blue;
  background: radial-gradient(circle closest-corner at 50% -130px, rgba(35, 179, 253, 0.3), transparent);
}

.header{
  position: relative;
  z-index: 3;
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  color: $main-red;
}

.neon{
  text-shadow: 0px 0px 15px $main-red;
}

.phone,
.location {
  position: absolute;
  bottom: 40px;
  color: #fff;
}

.location{
  right: 0;
  text-transform: uppercase;
  img{
    margin-bottom: 15px;
  }
}

// index

.title{
  color: #fff;
}

.title h2::before{
  content: url(../images/pointer.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.title h2{
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.quests{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  width: 1170px;
  margin: 0 auto;
}

.quest-card-wrapper{
  width: 570px;
  margin-top: 30px;
}

.quest-card-wrapper:nth-child(odd) {
    margin-right: 30px;
}

.marker{
  position: relative;
  left: 400px;
  width: 170px;
  padding: 7px 0px;
  border-radius: 10px 10px 0 0;
  background: $dark-purple;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: $main-blue;
}

.marker p::before,
.players p::before{
  content: url(../images/user-icon.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.quest-card-content{
  width: calc(100% - 100px);
  padding: 55px 50px 25px 50px;
  background: $dark-purple url(../images/book.png) no-repeat 455px 55px;
  border-radius: 10px 0 10px 10px;
}

.quest-card-content h1{
  font-size: 48px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: #fff;
}

.quest-card-content p{
  width: 80%;
  margin-bottom: 25px;
}

.quest-card-image{
  margin: 40px 0 30px -50px;
  width: 570px;
}

.index-book-button{
  display: inline-block;
  vertical-align: bottom;
  line-height: 23px;
  padding: 10px 15px;
  margin-right: 35px;
  border: none;
  border-radius: 10px;
  background: $main-blue;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.index-book-button p{
  margin: 0;
  width: 100%
}

.index-book-button p:before{
  content: url(../images/cart.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.unactive{
  border-radius: 10px 0 10px 10px;
}

.index-book-button:hover{
  background: $main-red;
}

.index-book-button img{
  float: left;
  margin-right: 10px;
}

.more-info,
.more-quests a,
.next-quest a{
  display: inline-block;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 6px solid $plum;
}

.more-quests{
  width: 100%;
  margin: 40px 0 60px 0;
  font-size: 22px;
  text-align: center;
}

.more-info:hover,
.more-quests a:hover,
.next-quest a:hover{
  color: #fff;
  border-color: #fff;
}

// offers

.offers{
  display: flex;
  position: relative;
  z-index: 1;
  width: 1170px;
  margin: 60px auto 0 auto;
}

.offer{
  width: 210px;
  background: $dark-purple;
  padding: 25px 30px 0 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.offers .offer:not(:last-child){
  margin-right: 30px;
}

.offer h1{
  margin-bottom: 25px;
  line-height: 1.3em;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.price{
  font-size: 48px;
  color: $main-red;
  margin-bottom: 5px;
}

.offer span{
  color: #fff;
}

.offer .italic{
  margin-bottom: 25px;
  font-weight: normal;
  font-style: italic;
}

.price-each{
  width: 270px;
  margin: 15px -30px;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.time{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.image-block{
  width: 116px;
  height: 116px;
  margin: 5px auto;
  background: url(../images/team.png);
  background-position: top;
}

.offer button{
  cursor: pointer;
  width: 270px;
  margin-left: -30px;
  padding: 25px 0;
  background: $main-blue;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0 0 10px 10px;
}

.offer:hover{
  background: $main-blue;
  color: #fff;
  box-shadow: 0px 0px 75px rgba(75, 163, 245, 0.2);
}

.offer:hover .price{
  color: #fff;
}

.offer:hover .image-block{
  background-position: bottom;
}

.offer:hover button{
  background: $main-red;
}

// end

.basement{
  // height: 460px;
  height: 530px;
  margin-bottom: -70px;
  margin-top: 60px;
  padding-top: 80px;
  text-align: center;
}

.basement h1{
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
}

.big-book-button{
  cursor: pointer;
  padding: 20px 45px;
  margin-top: 85px;
  background-color: $main-red;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.big-book-button p{
  margin-right: 10px;
}

.big-book-button p,
.big-book-button img{
  display: inline;
}

.big-book-button:hover{
  background: $main-blue;
}

// footer

.footer{
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  width: 1170px;
  margin: 50px auto;
}

.first-row{
  width: 16%;
}

.second-row{
  width: 36%;
}

.third-row{
  width: 48%;
  text-align: right;
}

.footer img{
  width: 125px;
}

.footer p{
  font: normal 14px 'Roboto Condensed', sans-serif;
  margin-top: 10px;
}

.footer li{
  display: inline-block;
  width: 30%;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.footer a:hover{
  text-decoration: underline;
}

// all quests page

.all-quests-margin{
  margin-top: 60px;
}

// contacts page

.contacts-wrapper{
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
}

.info,
.form-wrapper{
  height: 405px;
  background: $dark-purple;
  border-radius: 15px;
}

.info h1,
.form-wrapper h1{
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.info{
  width: 470px;
  margin-right: 30px;
  padding: 50px 50px 30px 50px;
  p {
    font-size: 18px;
  }
}

.info li{
  display: flex;
  margin-top: 40px;
}

.info img{
  margin-right: 15px;
}

.bold{
  font-weight: bold;
}

// contact page form

.form-wrapper{
  position: relative;
  width: 510px;
  padding: 50px 30px 30px 30px;
  h1{
    color: $main-blue;
  }
}

.cpform{
  margin-top: 30px;
}

.cpform input {
  margin-bottom: 20px;
  background: none;
  border-radius: 10px;
  border: 1px solid $plum;
  color: $plum;
  padding: 10px 20px;
}

.cpform input[name="subject"] {
  width: calc(100% - 42px);
}

.cpform input[name="name"] {
  width: 200px;
  margin-right: 20px;
}

.cpform input[name="email"] {
  width: 200px;
}

.cpform textarea[type="textarea"] {
  resize: none;
  width: calc(100% - 42px);
  height: 90px;
  padding: 10px 20px;
  background: none;
  border: 1px solid $plum;
  border-radius: 10px;
  color: $plum;
}

.cpform input[type="submit"] {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin: 0;
  padding: 15px 55px;
  border: none;
  border-radius: 10px;
  background-color: $main-blue;
  font: normal 16px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.cpform input[type="submit"]:hover{
  cursor: pointer;
}

// map

  #map{
    width: 1170px;
    height: 510px;
    margin: 0 auto;
    border-radius: 15px;
  }
  
// end

// single quest page

.quest-slider-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 585px);
  z-index: 3;
  width: 1170px;
  margin: 0 auto;
}

.quest-slider-info div{
  width: 60%;
}

.quest-slider-info ul{
}

.quest-slider-info li{
  display: inline-block;
  vertical-align: middle;
  font: bold 16px 'Roboto Condensed', sans-serif;
  text-align: right;
}

.quest-slider-info li:not(:first-child){
  margin-left: 30px;
  padding-left: 30px;
}

.quest-slider-info li:first-child{
  color: $main-red;
  text-transform: uppercase;
}

.players{
  color: $main-blue;
  text-transform: uppercase;
}

.quest-slider-info h1{
  font-size: 89px;
  color: #fff;
  text-transform: uppercase;
}

.quest-slider-info h2{
  font-size: 48px;
  text-transform: uppercase;
  color: $main-red;
  text-shadow: 0px 0px 15px $main-red;
  span{
      color: $main-blue;
      text-shadow: 0px 0px 15px $main-blue;
  }
}

.quest-info-wrapper{
  position: relative;
  z-index: 1;
  width: 1070px;
  margin: 0 auto 40px auto;
  padding: 30px 50px 50px 50px;
  border-radius: 0 0 10px 10px;
  background: $dark-purple;
}

.quest-info-wrapper:after{
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.description{
  float: left;
  width: 630px;
  p{
    line-height: 1.3em;
  }
}

.quest-info{
  float: right;
  width: 360px;
  color: #fff;
}

.quest-info-list{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-top: 1px solid $plum;
  border-bottom: 1px solid $plum;
}

.quest-info-list li{
  display: flex;
  margin-top: 30px;
}

.quest-info-list img{
  margin-right: 15px;
}

.age{
  margin-right: 10px;
  text-transform: uppercase;
  color: $main-red;
}

.social{
  display: inline;
  float: right;
}

.social li{
  display: inline-block;
  margin: 0;
}

.social img{
  margin-left: 15px;
}

.next-quest{
  padding-bottom: 20px;
  text-align: right;
}