$main-text: #5d5778;
$main-blue: #4ba3f5;
$main-red: #fc2f56;
$dark-purple: #1a1822;
$plum: #5d5778;


.main-slider {
  
}

.slick-arrow{
  height: 80%;
  width: 100px;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.slick-arrow:focus {
  outline: none;
}

.slick-prev{
  position: absolute;
  z-index: 5;
  background: url(../images/arrow-left.png) no-repeat center;
}

.slick-next{
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/arrow-right.png) no-repeat center;
}

.main-slider img{
  height: 100%;
}

.slide-info{
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -585px;
    z-index: 1;
    width: 1170px;
    color: #fff;
    font-weight: bold;
}

.slide-info p{
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

.slide-info a{
    display: inline-block;
    margin: 20px 0;
    font-size: 90px;
    color: #16141d;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgba(255,255,255, 0.17);
}

.slide-info p{
    width: 20%;
}

.slide-info h2{
    margin-top: 25px;
    font-size: 48px;
    text-transform: uppercase;
    color: $main-red;
    text-shadow: 0px 0px 15px $main-red;
    span{
        color: $main-blue;
        text-shadow: 0px 0px 15px $main-blue;
    }
}

// привет, костыли

// .slide-info h1{
//     font-size: 90px;
//     text-transform: uppercase;
//     color: rgba(0,0,0,0.6);
//     text-shadow: 1px 1px 2px rgba(255,255,255,0.1);
// }

// .inset-text-effect {
//   display: inline-block;
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   border: none;
//   color: rgba(22,20,19,1);
//   text-align: center;
//   font-size: 90px;
//   text-transform: uppercase;
//   -o-text-overflow: clip;
//   text-overflow: clip;
//   white-space: pre;
//   text-shadow: 1px 1px 2px rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
// }