---
title: quest factor
---

<!--slider-->

<div class="main-slider">
    <div>
        <div class="slide-info">
            <p>Real life quest</p>
            <a href="the_castle.html">THE </br>CASTLE</a>
            <p>Our Most Advanced Quest with Movie Quality Props and High-Tech Puzzes!</p>
            <h2>sale <span class=""><span style="font-size:15px;">up to</span> -20%</span></h2>
        </div>
        <img src="images/slider.png">
    </div>
    <div>
        <div class="slide-info">
            <p>Real life quest</p>
            <a href="the_castle.html">THE </br>CASTLE</a>
            <p>Our Most Advanced Quest with Movie Quality Props and High-Tech Puzzes!</p>
            <h2>sale <span class=""><span style="font-size:15px;">up to</span> -20%</span></h2>
        </div>
        <img src="images/slider.png">
    </div>
    <div>
        <div class="slide-info">
            <p>Real life quest</p>
            <a href="the_castle.html">THE </br>CASTLE</a>
            <p>Our Most Advanced Quest with Movie Quality Props and High-Tech Puzzes!</p>
            <h2>sale <span class=""><span style="font-size:15px;">up to</span> -20%</span></h2>
        </div>
        <img src="images/slider.png">
    </div>
</div>

<!--slider end-->

<div class="title">
    <h2>popular quests</h2>
</div>

<section class="quests">
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>2 — 8 players</p>
        </div>
        <div class="quest-card-content">
            <a href="the_castle.html">
                <h1>THE CASTLE</h1>
            </a>
            <p>Take part in the amazing castle experience and unlock its hidden secrets. You are a band of explorers looking to find the legendary lost treasure of the templars! You have one hour to find the treasure or the spirit of the last knight wins. Are you up for the challenge?</p>
            <img src="images/three-from-five.png" alt="">
            <img src="images/0004.jpg" class="quest-card-image" alt="">
            <a class="index-book-button" href="http://bookeo.com/conundroomseattle?type=41556RNHFH7155B483D7AD&source=questfactor"><p>Book now</p></a>
            <a href="the_castle.html" class="more-info">more info</a>
        </div>
    </div>
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>2 — 8 players</p>
        </div>
        <div class="quest-card-content">
            <a href="the_book_of_leaves.html">
                <h1>THE BOOK OF LEAVES</h1>
            </a>
            <p>As a group of historians and amateur cryptologists you discover a secret workshop that belonged to famous Leonardo Da Vinci. It is beleived by many mythologists that before his death, Leonardo hid mysterious artifact called Book of Leaves in his secret chamber. </p>
            <img src="images/four-from-five.png" alt="">
            <img src="images/0002.jpg" class="quest-card-image" alt="">
            <a class="index-book-button" href="http://bookeo.com/conundroomseattle?type=41556HEX4RT159802DB931&source=questfactor"><p>Presail</p></a>
            <a href="the_book_of_leaves.html" class="more-info">more info</a>
        </div>
    </div>
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>4 — 12 players</p>
        </div>
        <div class="quest-card-content">
            <a href="#">
                <h1>AMERICAN TREASURE</h1>
            </a>
            <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
            <img src="images/two-from-five.png" alt="">
            <img src="images/0003.jpg" class="quest-card-image" alt="">
        </div>
    </div>
</section>
    
<div class="title">
    <h2>Team work</h2>
</div>

<!--тарифы-->

<section class="offers">
    <div class="offer">
        <h1>TEAM OF 2 OR 3 PLAYERS</h1>
        <p class="price-old">$120</p>
        <p class="price">$90</p>
        <span>team</span>
        <p class="price-each">~ $25-30 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <a href="http://bookeo.com/conundroomseattle?source=questfactor"><button>Book now</button></a>
    </div>
    <div class="offer">
        <h1>TEAM OF 4 OR 5 PLAYERS</h1>
        <p class="price-old">$150</p>
        <p class="price">$120</p>
        <span>team</span>
        <p class="price-each">~ $25-30 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <a href="http://bookeo.com/conundroomseattle?source=questfactor"><button>Book now</button></a>
    </div>
    <div class="offer">
        <h1>TEAM OF 6 OR 7 PLAYERS</h1>
        <p class="price-old">$180</p>
        <p class="price">$160</p>
        <span>team</span>
        <p class="price-each">~ $25-30 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <a href="http://bookeo.com/conundroomseattle?source=questfactor"><button>Book now</button></a>
    </div>
    <div class="offer">
        <h1>TEAM OF 8 PLAYERS</h1>
        <p class="price-old">$190</p>
        <p class="price">$180</p>
        <span>team</span>
        <p class="price-each">~ $20-25 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <a href="http://bookeo.com/conundroomseattle?source=questfactor"><button>Book now</button></a>
    </div>
</section>

<!--карусель логотипов-->

<div class="title">
    <h2>our partners</h2>
</div>

<div class="container">
    <div class="carousel">
        <div>
            <img src="images/partners/cn.png">
        </div>
        <div>
            <img src="images/partners/ps.png">
        </div>
        <div>
            <img src="images/partners/google.png">
        </div>
        <div>
            <img src="images/partners/cn.png">
        </div>
        <div>
            <img src="images/partners/ps.png">
        </div>
        <div>
            <img src="images/partners/google.png">
        </div>
        <div>
            <img src="images/partners/cn.png">
        </div>
        <div>
            <img src="images/partners/ps.png">
        </div>
        <div>
            <img src="images/partners/google.png">
        </div>
    </div>
</div>

<!--отзывы-->

<div class="title">
    <h2>player reviews</h2>
</div>

<section class="reviews-wrapper">
    <div class="review">
        <h1>jane smith</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="review">
        <h1>jane smith</h1>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="review">
        <h1>jane smith</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="review">
        <h1>jane smith</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Read more...</a></p>
    </div>
</section>

<!--end-->

<div class="basement">
    <h1>Seen Enough?</h1>
    <button class="big-book-button">
        <p>Book now</p>
        <img src="images/gamepad.png">
    </button>
</div>

<!--скрипт слайдера-->

<script src="javascripts/slick.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

  $(document).ready(function(){
    $('.main-slider').slick({
      autoplay: false,
      slidesToShow: 1
    });
  });
 
</script>

<!--карусель-->

<script type="text/javascript">

  $(document).ready(function(){
    $('.carousel').slick({
      autoplay: true,
      arrows: true,
      slidesToShow: 6,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 600,
          settings: {
            arrows: true,
            centerMode: true,
            slidesToShow: 2
          }
        }
      ]
    });
  });  

</script>