---
title: quest factor
---

<!--slider-->

<div class="main-slider">
    <div>
        <img src="images/slider.png">
        <div class="slide-info">
            <p>quest</p>
            <a href="">title</a>
            <p>Only today -30% off sale for LIBRARY quest Call your friend and welcome!</p>
            <h2>sale <span>-30%</span></h2>
        </div>
    </div>
    <div>
        <div class="slide-info">
            <p>quest</p>
            <a href="">title</a>
            <p>Only today -30% off sale for LIBRARY quest Call your friend and welcome!</p>
            <h2>sale <span>-30%</span></h2>
        </div>
        <img src="images/slider.png">
    </div>
    <div>
        <div class="slide-info">
            <p>quest</p>
            <a href="">title</a>
            <p>Only today -30% off sale for LIBRARY quest Call your friend and welcome!</p>
            <h2>sale <span>-30%</span></h2>
        </div>
        <img src="images/slider.png">
    </div>
</div>

<!--slider end-->

<div class="title">
    <h2>popular quests</h2>
</div>

<section class="quests">
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>2 — 8 players</p>
        </div>
        <div class="quest-card-content">
            <a href="quest-page.html">
                <h1>Metro</h1>
            </a>
            <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
            <img src="images/three-from-five.png" alt="">
            <img src="images/0000.jpg" class="quest-card-image" alt="">
            <button class="index-book-button"><p>Book now</p></button>
            <a href="#" class="more-info">more info</a>
        </div>
    </div>
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>2 — 8 players</p>
        </div>
        <div class="quest-card-content">
            <a href="#">
                <h1>Metro</h1>
            </a>
            <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
            <img src="images/three-from-five.png" alt="">
            <img src="images/0000.jpg" class="quest-card-image" alt="">
            <button class="index-book-button"><p>Book now</p></button>
            <a href="#" class="more-info">more info</a>
        </div>
    </div>
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>4 — 12 players</p>
        </div>
        <div class="quest-card-content">
            <a href="#">
                <h1>Metro</h1>
            </a>
            <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
            <img src="images/three-from-five.png" alt="">
            <img src="images/0000.jpg" class="quest-card-image" alt="">
            <button class="index-book-button"><p>Book now</p></button>
            <a href="#" class="more-info">more info</a>
        </div>
    </div>
    <div class="quest-card-wrapper">
        <div class="marker">
            <p>2 — 8 players</p>
        </div>
        <div class="quest-card-content unactive">
            <a href="#">
                <h1>Secrets</h1>
            </a>
            <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
            <img src="images/three-from-five.png" alt="">
            <img src="images/0001.jpg" class="quest-card-image" alt="">
        </div>
    </div>
</section>
    
<div class="container more-quests">
    <a href="quests.html">more quests</a>
</div>

<div class="title">
    <h2>Team work</h2>
</div>

<!--тарифы-->

<section class="offers">
    <div class="offer">
        <h1>TEAM OF 2 PLAYERS</h1>
        <p class="price">$50</p>
        <span>team</span>
        <p class="price-each">$25 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <button>Book now</button>
    </div>
    <div class="offer">
        <h1>TEAM OF 3 OR 4 PLAYERS</h1>
        <p class="price">$100</p>
        <span>team</span>
        <p class="price-each">$25-30 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <button>Book now</button>
    </div>
    <div class="offer">
        <h1>TEAM OF 5 OR 6 PLAYERS</h1>
        <p class="price">$150</p>
        <span>team</span>
        <p class="price-each">$25-30 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <button>Book now</button>
    </div>
    <div class="offer">
        <h1>TEAM OF 7 OR 8 PLAYERS</h1>
        <p class="price">$170</p>
        <span>team</span>
        <p class="price-each">$20-25 each</p>
        <p class="time">1 hour</p>
        <div class="image-block"></div>
        <p class="italic">Just your team<br>no strangers</p>
        <button>Book now</button>
    </div>
</section>

<div class="container basement">
    <h1>Seen Enough?</h1>
    <button class="big-book-button">
        <p>Book now</p>
        <img src="images/gamepad.png">
    </button>
</div>

<!--скрипт слайдера-->

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="javascripts/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.main-slider').slick({
      autoplay: true
    });
  });
</script>