---
title: map
---

<div class="container">
    <div class="location-selector">
        <button id="dropdown">Please select the area of interest to you</button>
        <ul class="locations-dropdown">
            <li>
                <a href="#">Seattle</a>
            </li>
            <li>
                <a href="#">London</a>
            </li>
            <li>
                <a href="#">Moscow</a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);

    function init() {

        var mapOptions = {
            
            zoom: 19,
            scrollwheel: false,
            center: new google.maps.LatLng(47.65805839999999, -122.31289070000003),

            styles: [{"featureType":"all","elementType":"all","stylers":[{"invert_lightness":true},{"saturation":10},{"lightness":30},{"gamma":0.5},{"hue":"#00aaff"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"saturation":"100"},{"lightness":"27"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#32373c"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"saturation":"100"},{"lightness":"69"},{"gamma":"1.40"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"lightness":"100"},{"saturation":"100"}]},{"featureType":"road.highway.controlled_access","elementType":"labels.icon","stylers":[{"saturation":"100"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"saturation":"43"},{"lightness":"51"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"saturation":"45"},{"lightness":"19"}]}]
        };

        var mapElement = document.getElementById('map');

        var map = new google.maps.Map(mapElement, mapOptions);
        
        var image = new google.maps.MarkerImage('images/location-small.png',      
    		new google.maps.Size(32, 32),      
          	new google.maps.Point(0,0),      
          	new google.maps.Point(0, 24)); 
        

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(47.65805839999999, -122.31289070000003),
            map: map,
            icon: image,
            title: 'adress'
  	
        });
    }
</script>

<div id="map"></div>


<section class="quests">
    <div class="quest-card-wrapper">
    <div class="marker">
        <p>2 — 8 players</p>
    </div>
    <div class="quest-card-content">
        <a href="the_castle.html">
            <h1>THE CASTLE</h1>
        </a>
        <p>Take part in the amazing castle experience and unlock its hidden secrets. You are a band of explorers looking to find the legendary lost treasure of the templars! You have one hour to find the treasure or the spirit of the last knight wins. Are you up for the challenge?</p>
        <img src="images/three-from-five.png" alt="">
        <img src="images/0004.jpg" class="quest-card-image" alt="">
        <a class="index-book-button" href="http://bookeo.com/conundroomseattle?type=41556RNHFH7155B483D7AD&source=questfactor"><p>Book now</p></a>
        <a href="the_castle.html" class="more-info">more info</a>
    </div>
</div>
<div class="quest-card-wrapper">
    <div class="marker">
        <p>2 — 8 players</p>
    </div>
    <div class="quest-card-content">
        <a href="#">
            <h1>THE BOOK OF LEAVES</h1>
        </a>
        <p>As a group of historians and amateur cryptologists you discover a secret workshop that belonged to famous Leonardo Da Vinci. It is beleived by many mythologists that before his death, Leonardo hid mysterious artifact called Book of Leaves in his secret chamber. </p>
        <img src="images/four-from-five.png" alt="">
        <img src="images/0002.jpg" class="quest-card-image" alt="">
        <a class="index-book-button" href="http://bookeo.com/conundroomseattle?type=41556HEX4RT159802DB931&source=questfactor"><p>Presail</p></a>
        <a href="#" class="more-info">more info</a>
    </div>
</div>
<div class="quest-card-wrapper">
    <div class="marker">
        <p>4 — 12 players</p>
    </div>
    <div class="quest-card-content">
        <a href="#">
            <h1>AMERICAN TREASURE</h1>
        </a>
        <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
        <img src="images/two-from-five.png" alt="">
        <img src="images/0003.jpg" class="quest-card-image" alt="">
    </div>
</div>
</section>