---
title: all quests
---

    <section class="quests all-quests-margin">
        <div class="quest-card-wrapper">
            <div class="marker">
                <p>2 — 8 players</p>
            </div>
            <div class="quest-card-content">
                <a href="#">
                    <h1>Metro</h1>
                </a>
                <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
                <img src="images/three-from-five.png" alt="">
                <img src="images/0000.jpg" class="quest-card-image" alt="">
                <div class="index-book-button" href="#">
                    <img src="images/cart.png" alt="">
                    <p>Book now</p>
                </div>
                <a href="#" class="more-info">more info</a>
            </div>
        </div>
        <div class="quest-card-wrapper">
            <div class="marker">
                <p>2 — 8 players</p>
            </div>
            <div class="quest-card-content">
                <a href="#">
                    <h1>Metro</h1>
                </a>
                <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
                <img src="images/three-from-five.png" alt="">
                <img src="images/0000.jpg" class="quest-card-image" alt="">
                <div class="index-book-button" href="#">
                    <img src="images/cart.png" alt="">
                    <p>Book now</p>
                </div>
                <a href="#" class="more-info">more info</a>
            </div>
        </div>
        <div class="quest-card-wrapper">
            <div class="marker">
                <p>4 — 12 players</p>
            </div>
            <div class="quest-card-content">
                <a href="#">
                    <h1>Metro</h1>
                </a>
                <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
                <img src="images/three-from-five.png" alt="">
                <img src="images/0000.jpg" class="quest-card-image" alt="">
                <div class="index-book-button" href="#">
                    <img src="images/cart.png" alt="">
                    <p>Book now</p>
                </div>
                <a href="#" class="more-info">more info</a>
            </div>
        </div>
        <div class="quest-card-wrapper">
            <div class="marker">
                <p>2 — 8 players</p>
            </div>
            <div class="quest-card-content unactive">
                <a href="#">
                    <h1>Secrets</h1>
                </a>
                <p>Real life quest is game full of excitement! Discover lots of intriguing secrets and puzzles a long the way. In order to win, you must work as a team solving unique challenges.</p>
                <img src="images/three-from-five.png" alt="">
                <img src="images/0001.jpg" class="quest-card-image" alt="">
            </div>
        </div>
    </section>
    
    <div class="container big-title">
        <h1>SEARCH</h1>
        <button class="big-book-button">
            <p>see map quest</p>
            <img src="images/location2.png" style="vertical-align: sub;">
        </button>
    </div>